@import "tailwindcss";

:root {
  --background: #223e50; 
  --foreground: #ffffff; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-jaune:hover {
  color: #eeb868;
}

.text-jaune {
  color: #eeb868;
}

.bg-bleu {
  background-color: #223e50;
}

:focus-visible {
  outline: 2px solid #eeb868;
  outline-offset: 2px;
}
